table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  thead{
    //background: #eee;
    tr{
      border-bottom: 1px solid #eee;
      th{
        padding: 16px;
        font-weight: 300;
        text-transform: uppercase;
        color: $blue;
      }
    }
  }
  tbody{
    tr{
      border-bottom: 1px solid #eee;
      &:nth-child(even){
        //background-color: #f2f2f2;
      }
      td{
        padding: 8px 16px;
      }
    }
  }
}