@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Regular.woff2?v=2.3") format("woff2"),
       url("../fonts/Inter-UI-Regular.woff?v=2.3") format("woff"),
       url("../fonts/Inter-UI-Regular.ttf?v=2.3") format("ttf");
}