*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-size: 16px;
  background: #f5f5f5;
}
input,
button{
  font-family: inherit;
  font-size: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
strong{
  font-weight: 700;
}
#root{
  background: #fff;
  // width: 100%;
  // max-width: 960px;
  // margin: 0 auto;
}
ul{
  list-style-type: none;
  li{
    display: inline-block;
  }
}

a{
  text-decoration: none;
}