.container{
    display: flex;
    min-height: 100vh;
    @media (max-width: 480px){
        display: block;
        height: auto;
    }
}

.current-status,
.upcoming-meetings{
    flex-basis: 50%;
    @media (max-width: 480px){
        padding: 16px;
    }
}
.current-status{
    color: $white;
    display: flex;
    align-items: center;
    padding: 64px;
    &.open{
        background: $green;
    }
    &.busy{
        background: $red;
    }
    h1{
        font-size: 120px;
        line-height: 120px;
    }
    @media (max-width: 768px){
        padding: 48px;
        h1{
            font-size: 90px;
        }
    }
    @media (max-width: 480px){
        padding: 24px;
        h1{
            font-size: 64px;
        }
    }
}

.upcoming-meetings{
    padding: 64px;
    @media (max-width: 768px){
        padding: 48px;
    }
    @media (max-width: 480px){
        padding: 24px;
    }
    h1{
        margin: 0 0 24px 0;
        @media (max-width: 480px){
            font-size: 32px;
        }
    }
}
.list-group-item{
    display: block;
    padding: 16px 4px;
    color: #4099ff;
    line-height: 22px;
    border-bottom: 1px solid #eee;
    &:hover{
        background: rgba(0,0,0,0.085);
    }
    &:last-child{
        border-bottom: 0;
    }
    .badge{
        color: $red;
    }
}
.current-time{
    margin: 32px 0 64px 0;
    color: #999;
    font-size: 30px;
    @media (max-width: 480px){
        font-size: 22px;
        margin: 0 0 32px 0;
    }
}

.primary-cta{
    position: fixed;
    right: 48px;
    bottom: 48px;
    background: $blue-dark;
    border-radius: 4px;
    color: $white;
    font-size: 36px;
    line-height: 48px;
    height: 48px;
    width: 48px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    @media (max-width: 480px){
        right: 32px;
        bottom: 32px;
    }
}

.list-group:empty {
    margin: 30px 0;
    width: 280px;
    height: 200px; /* change height to see repeat-y behavior */
    
    background-image:
        linear-gradient( 
            100deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5) 50%, 
            rgba(255, 255, 255, 0) 80% 
        ),
        linear-gradient( lightgray 20px, transparent 0 ),
        linear-gradient( lightgray 20px, transparent 0 ),
        linear-gradient( lightgray 20px, transparent 0 ),
        linear-gradient( lightgray 20px, transparent 0 );

    background-repeat: repeat-y;

    background-size:
        50px 280px, /* highlight */
        150px 280px,
        350px 280px,
        300px 280px,
        250px 280px;

    background-position:
        0 0, /* highlight */
        0px 0,
        0px 40px,
        0px 80px,
        0px 120px;

    animation: shine 1s infinite;
	}

	@keyframes shine {
		to {
			background-position:
            100% 0, /* move highlight to right */
            0px 0,
            0px 40px,
            0px 80px,
            0px 120px;
		}
	}